
.header {
    display: flex;
    align-items: center;
    padding: 92px 24px 96px;
    font-size: 18px;
    font-family:'Raleway';
    gap: 50px;
    box-sizing: border-box;
    }


.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    white-space: nowrap;
    padding-left: 26px;
}


.header__links-list-item_no-bullit {
    list-style: none;
    
}


.header__link_active {

    text-decoration: none;
}


.header__logo {
    display: inline-block;
    width: 148px;
}


.address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-style: normal;
    top: 5px;
    line-height: 24px;
    padding-right: 28px;
}

.cover {
    background-image: url(../images/cover.jpg);
    

}

.overlay {

    
}