
.header {
    display: flex;
    align-items: center;
    padding: 92px 24px 96px 24px;
    background-color: brown;
    font-size: 18px;
    }



.header__links-list {
    display: flex;
    gap: 30px;
    list-style:circle;
}


.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.header__link {
text-decoration: underline;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
}

.header__address {


}
