
.header {
    display: flex;
    align-items: center;
    padding: 92px 24px 96px;
    font-size: 18px;
    font-family:'Raleway';
    gap: 50px;
    box-sizing: border-box;
    }


.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    white-space: nowrap;
    padding-left: 26px;
}


.header__links-list-item_no-bullit {
    list-style: none;
    
}


.header__link_active {

    text-decoration: none;
}


.header__logo {
    display: inline-block;
    width: 148px;
}


.address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-style: normal;
    top: 5px;
    line-height: 24px;
    padding-right: 28px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }

.cover__title {
display: flex;
position: relative;
flex-direction: column;
text-transform: uppercase;
color: white;
font-size: 100px;
gap: 20px;
line-height: 1;
letter-spacing: 30px;
z-index: 2;
}

.aligned-text {
text-align: left;
}

.aligned-text_center {
    text-align: center;

}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    align-items: left;
    padding: 147px 79px 0 78px;
    z-index: 1;
}

.cover__description-text {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 20px;
    z-index: 1;
}

.bet-button {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    background: none;
    color: white;
    z-index: 1;
    padding: 12px 32px;
    border: 0.5px solid;

}

.lots {
padding: 179px 24px 146px 24px;
height: 692px;

}

.lots__heading {
padding-left: 40px;
padding-bottom: 27px;
text-transform: uppercase;
font-weight: 700;
}

.lots__card-list {
display: flex;
list-style: none;
flex-wrap: wrap;
}

.lots__card-list-item {
flex-grow: 1;

}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    min-height: 563px;
    width: 334px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    padding: 50px 40px 50px 40px;
}

.card__text {
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 50px 40px 50px 40px;
    

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);


}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);

}